<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/sm.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/shoucang.css" />
		<link rel="stylesheet" href="../css/daikuan.css" />
		<script type='text/javascript' src='https://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='https://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
		<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
		<script type="text/javascript" src="../js/util.js" ></script>
		
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<link rel="stylesheet" href="../mescroll/mescroll.min.css" />
		<script type="text/javascript" src="../mescroll/mescroll.min.js" ></script>
		
		<style>
			.mescroll-totop {
				bottom: 4rem;
			}
		</style>
		
	</head>
	<body class="page" style="background-color: #F6F6F6;">
		<div id="mescroll" class="content mescroll">
			<div id="list-container" style="margin-top: 0;">
				<div class="item" v-for="item in daikuanList" v-on:click="daikuanClick(item.id)">
					<div class="item_top">
						<img class="item_logo" v-bind:src="item.logo" />
						<div class="item_name" v-text="item.loanName"></div>
						<!--<div class="item_sc">点击收藏</div>-->
					</div>
					<div class="item_bottom">
						<div class="item_edu">
							<div class="item_num" v-text="item.maxQuota"></div>
							<div class="item_tip" v-text="item.introduce"></div>
						</div>
						<div class="item_detail">
							<div class="item_yn">平均额度(元)</div>
							<div class="item_more">
								<span class="item_yue">月利率{{item.monthRate}}</span>
								{{item.keyword}}
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>	
	</body>
	<script>
		
		 var app = new Vue({
			el: '#mescroll',
			data: {
				mescroll: null,
				// pop
				modalClass: 'dk_modal',
				// 弹出类型
				popType: 1,   // 1:贷款金额  2：贷款分类  3：贷款期限
				// 弹框数据
				popList: [],
				// 贷款列表
				daikuanList: [],
				// 请求数据
				requestData: {
					minQuota: '0',  // 最小贷款金额
					maxQuota: '50000',  // 最大贷款金额
					minTerm:  '0',  // 最小贷款期限
					maxTerm:  '36',  // 最大贷款期限
					label:    '0',  // 贷款分类
					page:     '0',  // 请求页数
				},
			},
			mounted: function() {
				//创建MeScroll对象,down可以不用配置,因为内部已默认开启下拉刷新,重置列表数据为第一页
				//解析: 下拉回调默认调用mescroll.resetUpScroll(); 而resetUpScroll会将page.num=1,再执行up.callback,从而实现刷新列表数据为第一页;
				var self = this;
				self.mescroll = new MeScroll("mescroll", { //请至少在vue的mounted生命周期初始化mescroll,以确保您配置的id能够被找到
					up: {
						callback: self.upCallback, //上拉回调
						//以下参数可删除,不配置
						isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
						//page:{size:8}, //可配置每页8条数据,默认10
						toTop:{ //配置回到顶部按钮
							src : "../mescroll/mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
							//html: null, //html标签内容,默认null; 如果同时设置了src,则优先取src
							//offset : 1000
						},
						empty:{ //配置列表无任何数据的提示
							warpId:"mescroll",
							icon : "../img/wujilu.png" , 
//						  	tip : "亲,暂无相关数据哦~" , 
//						  	btntext : "去逛逛 >" , 
//						  	btnClick : function() {
//						  		alert("点击了去逛逛按钮");
//						  	} 
						},
					}
				});
			},
			methods: {
				//上拉回调 page = {num:1, size:10}; num:当前页 ,默认从1开始; size:每页数据条数,默认10
				upCallback: function(page) {
					//联网加载数据
					var self = this;
					setTimeout(function(){
						self.getData();
					},1000);
				},
				// 列表点击事件
				daikuanClick: function(id){
					window.location.href = 'dkdetail.html?id=' + id;
				},
				// 获取列表数据源
				getData: function(){
					var self = this;
					var id = Util.getUrlKey('id');
					self.requestData.label = id;
					
					switch (id){
						case '4':
							document.title = '大额低息';
							break;
						case '1':
							document.title = '小额贷款';
							break;
						case '3':
							document.title = '信用卡贷';
							break;
						case '6':
							document.title = '工薪贷款';
							break;
						default:
							break;
					}
					
					var urlStr = Util.baseUrl + '/DuG/api/basics/loan/findLoanList.do';
					var md5Str = Util.basekey 
							   + self.requestData.minQuota 
							   + self.requestData.maxQuota 
							   + self.requestData.minTerm 
							   + self.requestData.maxTerm 
							   + self.requestData.label 
							   + self.requestData.page 
							   + '10';
					$.ajax({
						type:"get",
						url: urlStr,
						async:true,
						data: {
							minQuota: self.requestData.minQuota,
							maxQuota: self.requestData.maxQuota,
							minTerm: self.requestData.minTerm,
							maxTerm: self.requestData.maxTerm,
							label: self.requestData.label,
							page: self.requestData.page,
							rows: 10,
							key: Util.basekey,
							auth: Util.base32Encode('key,minQuota,maxQuota,minTerm,maxTerm,label,page,rows'),
							token: md5(md5Str)
						},
						success: function(res){
							// 请求成功
							if (res.ret_code == '0') {
								if (self.requestData.page == 0) {
									self.daikuanList = res.ret_data;
								} else{
									self.daikuanList = self.daikuanList.concat(res.ret_data);
								}
								var hasNext = res.ret_data.length == 10 ? true : false;
								if (hasNext == true) { // 还有下一页
									self.requestData.page = self.requestData.page + 1;
								}
								self.mescroll.endSuccess(res.ret_data.length,hasNext);
							} else{
								$.toast(res.ret_msg);
							}
						},
						error: function(res){
							$.toast('网路请求失败，请稍后重试');
						}
					})
				},
			}
		})
	</script>
</html>
